
.bg{
    background: url(assets/images/panda_bg.png);
    background-repeat: no-repeat;
    height:  386px;;
}
.donate-content{
    height:1482px;
    width: 1600px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}
.donate-content-title{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 130%;
padding-top: 40px;
margin-left: 220px;
height: 47px;


color: #FFFFFF;
}
.donate-content-text{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
color: #FFFFFF;
margin-top: 10px;
margin-left: 220px;
height: 94px;
}
.donate-info{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 130%;
color: #FE9013;
margin-top: 40px;
text-align: left;
margin-left: 220px;
}
.donate__inner{
    width: 1160px;
    height: 964px;
    background: rgba(255, 255, 255, 0.52);
backdrop-filter: blur(2px);
border-radius: 20px;
margin-left: 220px;
margin-top: 60px;
}
.donate__inner__title{
    width: 463px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 120%;
margin-left: 342px;
/* identical to box height, or 58px */

text-align: center;

/* or3 */

color: #FE9013;
padding-top: 40px;
}
.donate__inner__text{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;
/* identical to box height, or 29px */


color: #333B41;
margin-left: 92px;
margin-top: 20px;
}
.four{
    margin-left: 307px;
    display: flex;
    align-items: center;
}
.four__block1{
margin-top: 105px;
}
.big-number{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 72px;
line-height: 80%;
/* identical to box height, or 58px */

text-align: center;
text-transform: uppercase;

color: #000000;
}
.four__block1__text{
    margin-top: 11px;
}
.four__block2{
    margin-left: 11px;
    margin-top: 90px;
}
.four__block3{
    margin-left: 64px;
    margin-top: 60px;
}
.amount{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
height: 22px;
/* or 22px */


color: #000000;
margin-left: 96px;
margin-top: 48px;
}
.progress-bar{
    margin-top: 10px;
    margin-left: 92px;
}
.price{
    margin-left: 92px;
}
input[type="text"]{
        border-radius: 2px;
        font-family: 'Roboto Light';
        font-size: 16px;
        line-height: 140%;
        color: #929699;
        border: 1px solid #929699;
        padding: 16px 80px 15px 5px;
        display: block;
        margin: 0 auto;
        margin-top: 42px;
}
input[type="text"]::placeholder{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */


color: #929699;
position: absolute;
left: 3.36%;
right: 53.36%;
top: 29.63%;
bottom: 29.63%;
}
.radio__button{
    margin-top: 25px;
    margin-left: 424px;
    display: flex;
}
.radio__label{
    /* body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */


color: #333B41;
margin-left: 10px;
}
.radio__mark{
    margin-left: 50px;
}
.donate-content button{
    margin-left: 434px;
    margin-top: 31px;
}
.share{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */


color: #333B41;
margin-left: 434px;
margin-top: 30.02px;
}