@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

div,
ul,
li,
p,
h1,
h2,
h3,
section {
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    /* or 58px */


    color: #333B41;
}

body p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */


    color: #333B41;

}


.fav-animal {
    background: url(assets/images/Giant\ Panda1.jpg);
    background-repeat: no-repeat;
    background-position: 0px -222px;
    background-size: 1600px;
}
.fav-animal-container{
    position: relative;
    height: 700px;
}

.cycle {
    position: absolute;
    width: 465px;
    height: 465px;
    left: 50.5%;
    top: 12px;
    clip-path: circle(50%);
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.fav-animal-container>p {
    position: absolute;
    width: 500.31px;
    height: 400px;
    left: 55%;
    top: 86px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    /* or 80px */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.fav-animal-container>p>span {
    color: #FFEE2E;
}

.fav-animal-container>button {
    position: absolute;
    width: 298px;
    height: 54px;
    left: 61.5%;
    top: 546px;
    cursor: pointer;
    border: 0px;
}

.btn {

    width: 298px;
    height: 54px;
    left: calc(50% - 298px/2 + 332px);
    top: 626px;
    border: 0px;

    /* orange */

    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}
.btn:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

header {
    width: 100%;
    height: 80px;
    background: #000000;
    backdrop-filter: blur(2px);
}
.header-container{
    display: flex;
    position: relative;
}
.container {
    max-width: 1600px;
    margin: 0 auto;
}



.logo {
    position: absolute;
    width: 82px;
    height: 52px;
    left: 13.7%;
    top: 14px;
}

.logo__inner {
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}

.logo__inner>img {
    position: absolute;
    width: 7.03px;
    height: 20.98px;
    left: 13.23px;
    top: 24.64px;
}

.logo__text {
    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    /* or 23px */

    text-align: center;

    color: #FFFFFF;
}

.header-container>nav>ul>li {
    list-style-type: none;
}

.designed{
    position: absolute;
    width: 105px;
    height: 22px;
    left: 79.7%;
    top: 29px;
}

button>a,.header-container a, .menu__buttom a,
.designed>span, .menu__buttom>div>span {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    line-height: 140%;
    text-decoration: none;
}

.menu__buttom a:hover, .header-container a:hover {
    /* orange */

    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

nav {
    margin-left: 22.8%;
    padding-top: 29px;
    height: 22px;
}

nav>ul {
    display: flex;
    grid-gap: 58px;
}

.secondSection {
    height: 723px;
    background: url(assets/images/flower_foto11.png);
    background-repeat: no-repeat;
    background-position: right 12px;
    z-index: 1;

}
.secondSection-container{
    display: flex;
    z-index: 1;
}

.secondSection__inner {
    margin: 140px auto 0px auto;
    display: flex;
    width: 1161px;
    height: 403px;
}

.secondSection__inner__img {
    height: 403px;
    min-width: 609px;
    width: 100%;
    background: url('assets/images/bamboo-cap1.png');
    background-repeat: no-repeat;
    backdrop-filter: blur(2px);
}

.secondSection__inner__text{ 
    margin-left: 7.5%;
}

.secondSection-container h2 {
    margin-bottom: 20px;
}

.secondSection-container .subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    margin-top: 54px;
    margin-bottom: 30px;
    /* identical to box height, or 29px */


    color: #333B41;
}

.right_flower {
    background: url(assets/images/flower_foto11.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 293px;
    height: 605px;
    background-repeat: no-repeat;
    position: absolute;
    left: 1400px;
    top: 792px;
}

.sec3 {
    background: url(assets/images/palm_foto1.png) 0 bottom, url(assets/images/strelitzia\ 11.png) right bottom;
    background-repeat: no-repeat;
    background-position-x: -579px, 1233px;
    padding-bottom: 100px;
    
}
.sec3-container{
    position: relative;
}
.sec3__inner {
    width: 1158px;
    /*margin-left: 220px;*/
    display: flex;
    grid-gap: 20px 30px;
    flex-wrap: wrap;
    position: relative;
    margin: 0 auto;
}
.sec3__inner::before {
    content: url(assets/images/arrow_elips_2.svg);
    position: absolute;
    top: 403px;
    left: -82px;
    cursor: pointer;
}
.sec3__inner::after {
    content: url(assets/images/arrow_elips_1.png);
    position: absolute;
    top: 403px;
    left: 1178px;
    cursor: pointer;
    z-index: 999;
}

.sec3__inner:hover:before{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sec3__inner:hover:after {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.card {
    cursor: pointer;
    box-sizing: border-box;
    width: 366px;
    height: 426px;
    border-radius: 5px;
    outline: 1px solid #FA6F32;

}
.card_img{
    height: 366px;
    width: 366px;
}

.card_bottom {
    display: flex;
    grid-gap: 11px;
}

.card_title {
    height: 22px;
    margin-left: 16px;
    margin-top: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    text-transform: uppercase;

    color: #000000;
}

.card_subtitle {
    margin-left: 16px;
    width: 294px;
    height: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    /* identical to box height, or 18px */


    color: #000000;
}

.card_icon {
    margin-top: 10px;
    margin-right: 13px;
    margin-bottom: 13px;
}

.btn1 {
    margin-left: 651px;
    margin-top: 80px;
    width: 298px;
    height: 54px;
    background: #FE9013;
    border-radius: 25px;
    cursor: pointer;
    border: 0px;
}
.btn1:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

.btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    cursor: pointer;
    /* or 22px */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.palm {
    background: url(assets/images/palm_foto1.png);
    background-repeat: space;
    position: absolute;
    width: 880px;
    height: 460px;
    left: -588px;
    top: 2149px;
}

.flower2 {
    background: url(assets/images/strelitzia\ 11.png);
    background-repeat: space;
    position: absolute;
    width: 368px;
    height: 275px;
    right: 0px;
    top: 2334px;
}

.sec4 {
    padding-top: 69px;
    padding-bottom: 100px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
}
.sec4-container{

}
.sec4-container h3{
    margin-top: 60px;
}

.sec4__inner {
     margin-left: 220px;
    margin-right: 220px;
    height: 835px;
    /* frosted_glass_white */

    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 20px;
}
.sec4__inner button{
margin-top: 60px;
}

.sec4__title {
    padding-top: 41px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    /* identical to box height, or 58px */

    text-align: center;

    color: #FE9013;
}

.sec4-container .subtitle {
    /* subtitle */
    margin-top: 30px;
    margin-left: 99px;
    margin-bottom: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;

    /* identical to box height, or 29px */


    color: #333B41;
}

.sec4__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    margin-left: 99px;
    margin-bottom: 10px;
    /* or 21px */


    color: #333B41;
}
.fw-5 {
    font-weight: 500;
}
.sec4__text:last-of-type{
    margin-right: 198px;
}

.sec4__inner>button {
    margin: 60px auto 0 auto;
    display: block;
}

h3 {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    /* identical to box height, or 47px */


    color: #333B41;
}

.works {
    margin-left: 198px;
    margin-right: 198px;
    margin-top: 40px;
    justify-content: center;
    display: flex;
    grid-gap: 30px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */


color: #333B41;
}

.works__img {
    width: 168px;
    height: 168px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #F9804B;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}
.works__arrow {
    margin-top: 59.5px;
}

.works__title {
    margin-top: 30px;
}

.works__arrow {
    margin-top: 66.5px;
}

.sec5 {
    height: 919px;
    background: url(assets/images/leav_foto.png);
    background-repeat: no-repeat;
    background-position: 113.5% 645px;
}
.sec5-container{

}
.sec5__inner {
    padding-top: 140px;

}
.sec5__blocks{
    margin: 47px auto 0 auto;
    width: 268px;
    display: flex;
    grid-gap: 30px;
    width: 1160px;   
}

.sec5__block {


    background: #F1F3F2;
    border-radius: 20px;
    width: 268px;
    height: 391px;

}

.sec5__block__inner {
    display: flex;
    padding-top: 15px;
    margin-left: 16px;
    margin-right: 15px;
    margin-bottom: 7px;
}

.info {
    margin-left: 10px;
}

.name {
    height: 19px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.local {
    height: 18px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 120%;
color: #BDBDBD;
}

.sec5__text {
    margin-left: 16px;
    margin-right: 22px;
    margin-bottom: 19px;
    line-height: 120%;
    color: #767474;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
}

.scroll {
    margin: 0 auto;
    display: flex;
    margin-top: 21px;
    width: 599px;
    height: 8px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    border-radius: 5px;
}

input[type='range']{
    -webkit-appearance: none;
    width: 599px;
    background: #F5F7F6;
}
input[type=range]::-webkit-slider-thumb { 
    width: 115.2px;
background: #FE9013;
border-radius: 25px;
height: 6px;
-webkit-appearance: none;}


.secLast {
    height: 443px;
    background-color: #000000;
    
}
.secLast-container{
    position: relative;
}

.secLast-container>img {
    position: absolute;
    height: 443px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background: #111115;
}

.logo__bottom {
    position: absolute;
    width: 82px;
    height: 52px;
    left: 13.7%;
    top: 41px;
}

.logo__bottom__inner {
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}

.logo__inner>img {
    position: absolute;
    width: 7.03px;
    height: 20.98px;
    left: 13.23px;
    top: 24.64px;
}

.logo__text {
    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    /* or 23px */

    text-align: center;

    color: #FFFFFF;
}
.logo__bottom a{
    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}
.logo__bottom__inner>img {
    position: absolute;
    width: 7.03px;
    height: 20.98px;
    left: 13.23px;
    top: 24.64px;
}

.secLast-container .subtitle {
    position: absolute;
    width: 237px;
    height: 29px;
    right: 21.9%;
    top: 40px;
    
    /* subtitle */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */
    
    
    color: #FFFFFF;
}
input[type='email']{
    position: absolute;
    width: 228px;
    height: 42px;
    right: 22.5%;
    top: 83px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #F9804B;
    background: transparent;
    
}
input::placeholder {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
top: 10px;
left: 10px;
position: absolute;
/* or 22px */


/* Gray 4 */

color: #BDBDBD;
}

.mail button[type='submit']{
    position: absolute;
width: 129px;
height: 42px;
right: 13.8%;
top: 83px;
background: #F1F3F2;
/* Green */

border: 1px solid #4B9200;
border-radius: 5px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */


/* Green */

color: #4B9200;    
}
.btn{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;

}
.sec5-container button{
    margin-top: 31px;
    margin-left: 220px;
}

.btn2{
    width: 298px;
    height: 54px;
    left: calc(50% - 298px/2);
    top: 0px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
}
.btn2:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
.donate{
    position: absolute;
    width: 298px;
    height: 54px;
    left: 13.7%;
    top: 161px;
}
.socials{
    position: absolute;
    top:259px;
    left: 13.7%;
}
.socials__inner{
    display: flex;
}
.social__img{
    left: 0px;
    top: 0px;
    width: 26px;
    height: 26px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 50%;
    margin-bottom: 10px;
}
.social__img>img{
    display: block;
    margin: 6px auto;
}
.social__text{
    margin-top: 5px;
    margin-left: 12px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #FFFFFF;
}
.menu__buttom{
        margin-left: 38.7%;
        padding-top: 371px;
        height: 22px; 
}
.menu__buttom>ul {
    display: flex;
    grid-gap: 58px;
} 
.bottom_text{
    position: absolute;
    top: 341px;
    left: 72%;
}
.bottom_text p{
        margin-bottom: 10px;
    }
.bottom_text>div{
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
}
@media (max-width: 1500px) {
    .secondSection{
        background-position: 125% 12px;
        transition: 1s ease-out .5s;
    }
}
@media (max-width: 1400px) {
    .container{
        max-width: 1400px;
    }
    .fav-animal-container>p{
        width: 36%;
        font-size: 100px;
    }
    .secondSection__inner__img{
        min-width: 520px;
        transition: 1s ease-out .5s;
    }
    .sec3{
        height: 1075px;
        background-size: 386px 202px, 241px 180px;
        padding-bottom: 0px;
        background-position-x: -190px, 100%;
        background-position-y: 873px,895px;
    }
    .sec3__inner {
        margin: 142px auto 0 auto;
        width: 1000px;
        grid-gap: 92px 30px;
        justify-content: center;
    }
    .card {
        width: 294px;
        height: 354px;
    }
    .card_img {
        height: 294px;
        width: 294px;
    }
    .card_img>img{
        height: 294px;
        width: 294px;
    }
    .card_name{
        width: 231px;
    }
    .sec3__inner::before {
        top: 369px;
        left: 323px;
    }
    .sec3__inner::after {
        top: 369px;
        left: 556px;
    }
    .btn1 {
        margin: 80px auto 0 auto;
        display: block;
    }
    .sec4__inner{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .sec5{
        background-position: 116.5% 645px;
    }
    .sec5__blocks{
        width: 80%;
        justify-content: center;
    }
    .sec5__block:last-of-type{
        display: none;
    }

}

@media (max-width: 1200px) {
    .fav-animal-container>p{
        left: 54%;
    }
    .secondSection {
        height: 527px;
        background: none;
    }
    .secondSection__inner {
        max-width: 940px;
        margin: 100px auto 0 auto;
    }
    .secondSection__inner__img {
        margin-top: 9px;
        margin-bottom: 10px;
        height: 408px;
        min-width: 455px;
        width: 100%;
        background-position: -78px;
    }
    .secondSection__inner__text{
        margin-left: 31px;
    }
    .bottom_text{
        display: none;
    }
}


@media (max-width: 1000px) {

    .container{
        max-width: 1000px;
    }
    .logo{
        left: 30px;
    }
    .logo__inner {
        height: 52px;
    }
    .menu{
        margin-left: 175px;
    }
    nav>ul {
        grid-gap: 48px;
    }
    .designed {
        left: 86.5%;
        z-index: 9999;
    }
    .fav-animal {
        background-position: -99px -187px;
        height: 504px;
        background-size: 1198px;
    }
    
    .cycle {
        width: 367px;
        height: 367px;
        left: 45.6%;
        top: -11px;
        z-index: 1;
    }
    .fav-animal-container>p {
        width: 400.25px;
        height: 320px;
        left: 51.4%;
        top: 42.8px;
        font-size: 85.2px;
        line-height: 63.9px;
        z-index: 2;
    }
    .fav-animal-container>button {
        left: 56.7%;
        top: 403px;
    }
    .secondSection {
        height: 527px;
        background: none;
    }
    .secondSection__inner {
        margin-top: 100px;
        margin-left: 30px;
        width: 940px;
    }
    .secondSection__inner__img {
        margin-top: 9px;
        margin-bottom: 10px;
        height: 408px;
        min-width: 455px;
        width: 100%;
        background-position: -78px;
    }
    .secondSection__inner__text{
        margin-left: 31px;
    }
    .right_flower{
        display: none;
    }
    .sec3{
        height: 1075px;
        background-size: 386px 202px, 241px 180px;
        padding-bottom: 0px;
        background-position-x: -190px, 758px;
        background-position-y: 873px,895px;
    }
    .sec3__inner {
        margin-top: 142px;
        width: fit-content;
        grid-gap: 92px 30px;
    }
    .card {
        width: 294px;
        height: 354px;
    }
    .card_img {
        height: 294px;
        width: 294px;
    }
    .card_img>img{
        height: 294px;
        width: 294px;
    }
    .card_name{
        width: 231px;
    }
    .sec3__inner::before {
        top: 369px;
        left: 35.3%;
    }
    .sec3__inner::after {
        top: 369px;
        left: 58.6%;
    }
    .sec4{
        padding-top: 0;
        padding-bottom: 0;
    } 
    .sec4-container {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .sec4__inner {
        height: 796px;
        width: 94%;
    }
    .sec4__title {
        padding-top: 30px;
    }
    .sec4-container .subtitle {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 49px;
    }
    .sec4__text {
        font-size: 16px;
        line-height: 20.8px;
        margin-left: 49px;
        margin-right: 78px;
        margin-bottom: 10px;
    }
    .sec4__text:last-of-type {
        margin-right: 68px;
    }
    .sec4-container h3 {
        margin-top: 40px;
    }
    .works {
        margin-left: 88px;
        margin-right: 88px;
        margin-top: 40px;
        grid-gap: 30px;
        justify-content: center;
    }
    .works__block{
        width: 168px;
        height: 244px;
    }
    .works__arrow {
        margin-top: 62.5px;
    }
    .sec4__inner>button {
        margin-top: 72px;
    }
    .sec5 {
        height: 842px;
        background-size: 319.62px;
        background-position: 806px 606px;
    }
    .sec5__inner {
        padding-top: 100px;
    }
    .sec5__blocks {
        margin-top: 30px;
        width: 94%;
    }
    .sec5__block {
        width: 293px;
    }
    .sec5__block:last-of-type{
        display: none;
    }
    .scroll {
        margin-top: 20px;
        margin-left: 297px;
        width: 390px;
        height: 8px;
    }
    input[type='range'] {
        -webkit-appearance: none;
        width: 390px;
        background: #F5F7F6;
    }
    input[type=range]::-webkit-slider-thumb { 
        width: 75px;
        height: 6px;
    }
    .sec5-container button {
        margin-top: 52px;
        margin-left: 30px;
    }
    .logo__bottom {
        left: 44px;
        top: 41px;
    }
    .secLast-container .subtitle {
        right: 179px;
        top: 40px;
    }
    input[type='email'] {
        right: 188px;
    }
    .mail button[type='submit'] {
        right: 50px;
    }
    .donate {
        left: 44px;
    }
    .socials {
        left: 44px;
    }
    .menu__buttom {
        margin-left: 334px;
    }
    .menu__buttom>ul {
        grid-gap: 48px;
    }
    .bottom_text {
        display: block;
        left: 754px;
    }
    .bottom_text p{
        margin-bottom: 10px;
    }
 }
 @media (max-width: 999px) {
    header{
        height: 34px;
        position: fixed;
        z-index: 999999;
    }
    .logo{
        width: 46.93px;
        height: 29.03px;
        left: 20.07px;
        top: 2.29px;
    }
    .logo__inner{
        width: 46.86px;
        height: 29.03px;
    }
    .logo__text{
        font-size: 12px;
        line-height: 120%;
    }
    .logo__inner>img{
        width: 4.54px;
        height: 13.56px;
        left: 5.48px;
        top: 13.99px;
    }
    .designed{
        display: none;
    }
    .menu {
        display: none;
    }
    .burger-lines{
        width: 18px;
        height: 10px;
        position: absolute;
        top: 10px;
        left: 94%;
    }
    .line {
        display: block;
        height: 2px;
        width: 100%;
        margin-bottom: 2.5px;
        background: #FFFFFF;
    }
    .fav-animal {
        height: 339px;
        padding-top: 34px;
    }
    .cycle{
        width: 237.6px;
    height: 237.6px;
    left: 51.7%;
    top: 10px;
    }
    .fav-animal-container>p{
        font-size: 54.2894px;
        line-height: 75%;
        left: 57.5%;
        top: 48.04px;
        width: 255.64px;
    }
    .fav-animal-container>button {
        left: 3.4%;
        top: 244px;
    }
    .secondSection {
        height: 507px;
        background: url(assets/images/flower_foto11.png);
        background-position: right -2px;
        background-size: 159.16px;
        background-repeat: no-repeat;

    }
    .secondSection__inner {
        margin-top: 60px;
        margin-left: 20px;
    }
    .secondSection__inner__img {
        display: none;
    }
    .secondSection__inner__text{
        height: 367px;
        width: 70%;
    }
    .secondSection-container h2{
        margin-left: 4px;
    }
    .secondSection-container .subtitle {
        margin-top: 29px;
        margin-left: 4px;
        margin-bottom: 19px;
    }
    .sec3{
        height: 970px;
        background-size: 385px 202px, 175px 131px;
        background-position-x: -250px, right;
        background-position-y: 768px,840px;
    }
    .sec3__inner {
        width: 600px;
    }
    .card{
        width: 285px;
        height: 332px;
    }
    .card_img {
        width: 285.24px;
        height: 285.24px;
    }
    .card_img>img {
        width: 285.24px;
        height: 285.24px;
    }
    .card_name {
        width: 229.13px;
    }
    .card_title{
        height: 17px;
    margin-left: 12px;
    margin-top: 6px;
    font-size: 12.4695px;
    }
    .card_subtitle {
        margin-left: 12px;
        margin-top: -1px;
        width: 294px;
        height: 14px;
        font-size: 11.6901px;
    }
    .card_icon {
        margin-top: 7px;
    }
    .card_icon>img{
        width: 25.72px;
        height: 28.84px;
    }
    .card_bottom {
        grid-gap: 21px;
    }
    .sec3__inner::before {
        top: 343px;
        left: 223px;
    }
    .sec3__inner::after {
        top: 343px;
        left: 315px;
    }
    .card:nth-of-type(4){
        display: none;
    }
    .card:nth-of-type(8){
        display: none;
    }
    .card:nth-of-type(6){
        display: none;
    }
    .card:nth-of-type(7){
        display: none;
    }
    .btn1 {
        margin-top: 60px;
    }
    .works {
        margin: 18px auto 0 auto;
        grid-gap: 42px;
        width: 588px;
        justify-content: center;
        position: relative;
        
    }
    .works::before{
        content: url(assets/images/arrow.png);
        width: 63.12px;
        height: 69.66px;
        position: absolute;
        top: -15px;
        left: 138px;
    }
    .works::after{
        content: url(assets/images/arrow.png);
        width: 63.12px;
        height: 69.66px;
        position: absolute;
        top: -15px;
        left: 346px;
    }
    .works__block:nth-of-type(2){
        display: none;
    }
    .works__block:nth-of-type(4){
        display: none;
    }



    .bottom_text{
        display: none;
    }
 }

 @media (max-width: 860px) {
    .sec5 {
        height: 668px;
        background-size: 199.88px;
        background-position: 112% 535px;
    }
    .sec5__inner {
        padding-top: 60px;
    }
    .sec5__blocks{
        margin-top: 30px;
        width: 90%;
        display: block;
    }
    .sec5__block{
        width: 90%;
        height: 109px;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .sec5__block:nth-of-type(4){
        display: none;
    }
    .sec5__block__inner{
        margin-left: 10px;
    }
    .sec5__text{
        height: 38px;
        overflow: hidden;
    }
    .scroll{
        display: none;
    }
    .sec5-container button {
        width: 240px;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

 }


 @media (max-width: 640px) {
    .container{
        max-width: 640px;
    }
    header{
        height: 34px;
        position: fixed;
        z-index: 999999;
    }
    .logo{
        width: 46.93px;
        height: 29.03px;
        left: 20.07px;
        top: 2.29px;
    }
    .logo__inner{
        width: 46.86px;
        height: 29.03px;
    }
    .logo__text{
        font-size: 12px;
        line-height: 120%;
    }
    .logo__inner>img{
        width: 4.54px;
        height: 13.56px;
        left: 5.48px;
        top: 13.99px;
    }
    .designed{
        display: none;
    }
    .menu {
        display: none;
    }
    .burger-lines{
        width: 18px;
        height: 10px;
        position: absolute;
        top: 10px;
        left: 94%;
    }
    .line {
        display: block;
        height: 2px;
        width: 100%;
        margin-bottom: 2.5px;
        background: #FFFFFF;
    }
    .fav-animal {
        background-position: -63px -68px;
        background-size: 765.16px;
        height: 339px;
        padding-top: 34px;
    }
    .cycle{
        width: 237.6px;
    height: 237.6px;
    left: 331px;
    top: 10px;
    }
    .fav-animal-container>p{
        font-size: 54.2894px;
        line-height: 75%;
        left: 368.29px;
        top: 48.04px;
        width: 255.64px;
    }
    .fav-animal-container>button {
        left: 22.21px;
        top: 244px;
    }
    .secondSection {
        height: 507px;
        background: url(assets/images/flower_foto11.png);
        background-position: 510px -2px;
        background-size: 159.16px;
        background-repeat: no-repeat;

    }
    .secondSection__inner {
        margin-top: 60px;
        margin-left: 20px;
    }
    .secondSection__inner__img {
        display: none;
    }
    .secondSection__inner__text{
        height: 367px;
        width: 495px;
        margin-left: 0;
    }
    .secondSection-container h2{
        margin-left: 4px;
    }
    .secondSection-container .subtitle {
        margin-top: 29px;
        margin-left: 4px;
        margin-bottom: 19px;
    }
    .sec3{
        height: 970px;
        background-size: 385px 202px, 175px 131px;
        background-position-x: -250px, 464px;
        background-position-y: 768px,840px;
    }
    .sec3__inner {
        width: 600px;
        margin-top: 0px;
        margin-left: 19px;
    }
    .card{
        width: 285px;
        height: 332px;
    }
    .card_img {
        width: 285.24px;
        height: 285.24px;
    }
    .card_img>img {
        width: 285.24px;
        height: 285.24px;
    }
    .card_name {
        width: 229.13px;
    }
    .card_title{
        height: 17px;
    margin-left: 12px;
    margin-top: 6px;
    font-size: 12.4695px;
    }
    .card_subtitle {
        margin-left: 12px;
        margin-top: -1px;
        width: 294px;
        height: 14px;
        font-size: 11.6901px;
    }
    .card_icon {
        margin-top: 7px;
    }
    .card_icon>img{
        width: 25.72px;
        height: 28.84px;
    }
    .card_bottom {
        grid-gap: 21px;
    }
    .sec3__inner::before {
        top: 343px;
        left: 223px;
    }
    .sec3__inner::after {
        top: 343px;
        left: 315px;
    }
    .card:nth-of-type(4){
        display: none;
    }
    .card:nth-of-type(8){
        display: none;
    }
    .card:nth-of-type(6){
        display: none;
    }
    .card:nth-of-type(7){
        display: none;
    }
    .btn1 {
        margin-left: 173px;
        margin-top: 60px;
    }
    .sec4-container {
        padding-top: 20px;
        padding-bottom: 21px;
    }
    .sec4__inner{
        margin: 0;
        height: 740px;
        width: 640px;
    }
    .sec4__title{
        padding-top: 9px;
        font-size: 42px;
        margin-left: 0;
    }
    .sec4-container .subtitle {
        width: 600px;
        height: 52px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        font-size: 22px;
    }
    .sec4__text {
        width: 600px;
        margin-left: 20px;
    }
    .sec4-container h3 {
        margin-top: 32px;
    }
    .works {
        margin-left: 19px;
        margin-top: 18px;
        grid-gap: 42px;
        width: 588px;
        justify-content: center;
        position: relative;
        
    }
    .works::before{
        content: url(assets/images/arrow.png);
        width: 63.12px;
        height: 69.66px;
        position: absolute;
        top: -15px;
        left: 138px;
    }
    .works::after{
        content: url(assets/images/arrow.png);
        width: 63.12px;
        height: 69.66px;
        position: absolute;
        top: -15px;
        left: 346px;
    }
    .works__block:nth-of-type(2){
        display: none;
    }
    .works__block:nth-of-type(4){
        display: none;
    }
    .sec4__inner>button {
        margin-left: 173px;
        margin-top: 41px;
    }

    .sec5 {
        height: 668px;
        background-size: 199.88px;
        background-position: 526px 535px;
    }
    .sec5__inner {
        padding-top: 60px;
    }
    .sec5__blocks{
        margin-top: 30px;
        margin-left: 22px;
        width: 600px;
        display: block;
    }
    .sec5__block{
        width: 600px;
        height: 109px;
        margin-bottom: 15px;
    }
    .sec5__block:nth-of-type(4){
        display: none;
    }
    .sec5__block__inner{
        margin-left: 10px;
    }
    .sec5__text{
        height: 38px;
        overflow: hidden;
    }
    .scroll{
        display: none;
    }
    .sec5-container button {
        width: 240px;
        margin-top: 40px;
        margin-left: 200px;
    }
    .secLast {
        height: 282px;
    }
    .logo__bottom {
        left: 21px;
        top: 13px;
    }
    .secLast-container .subtitle {
        display: none;
    }
    .mail{
        display: none;
    }
    .donate {
        left: 20px;
        top: 97px;
    }
    .socials {
        left: 593px;
        top: 11px;
    }
    .social__text {
        display: none;
    }
    .social__img {
        margin-bottom: 20px;
    }
    .menu__buttom {
        margin-left: 20px;
        padding-top: 248px;
    }
    .menu__buttom>ul {
        grid-gap: 37px;
    }
    .bottom_text{
        top: 216px;
        left: 391px;
        display: block;
    }
 }

 @media (max-width: 639px) {
    .cycle{
        width: 119.09px;
        height: 119.09px;
        left: 51.7%;
        top: 22px;
    }
    .fav-animal-container>p{
        font-size: 28px;
        left: 57.5%;
        top: 41.04px;
        width: 128.13px;
        height: 102.44px;
    }
    .fav-animal-container>button {
        left: 13.21px;
        top: 207px;
    }
    .secondSection {
        height: 532.08px;
        background: url(assets/images/flower_foto1_320.png);
        background-position: right 38px;
        background-repeat: no-repeat;

    }
    .secondSection__inner {
        margin-left: 5%;
    }
    .secondSection__inner__img {
        display: none;
    }
    .secondSection__inner__text{
        width: 300px;
        margin-left: 0;
    }
    .text__works{
        line-height: 137%;
        width: 300px;
        margin-left: -2px;
    }
    .secondSection-container h2{
        margin-left: -2px;
        font-size: 24px;
        margin-bottom: 8px;
    }
    .secondSection-container .subtitle {
        margin-top: 19px;
        margin-left: 0px;
        margin-bottom: 9px;
    }
    .sec3{
        height: 1522px;
        background-size: 138px 72px, 85px 71px;
        background-position-x: -80px, right;
        background-position-y: bottom;
    }
    .sec3__inner {
        width: 285.24px;
        margin: 10px auto 0 auto;
        grid-gap: 20px 0;
    }
    .card_bottom {
        grid-gap: 21px;
    }
    .sec3__inner::before {
        display: none;
    }
    .sec3__inner::after {
        display: none;
    }
    .card:nth-of-type(4){
        display: none;
    }
    .card:nth-of-type(8){
        display: none;
    }
    .card:nth-of-type(6){
        display: none;
    }
    .card:nth-of-type(7){
        display: none;
    }
    .btn1 {
        margin:20px auto 0 auto;
    }
    .sec4 {
        padding-top: 0;
        padding-bottom: 0;
    }
    .sec4__inner{
        margin: 0 auto;
        height: 1041px;
        width: 90%;
    }
    .sec4__title{
        padding-top: 20px;
        font-size: 24px;
        margin-left: 0px;
    }
    .sec4-container .subtitle {
        width: 90%;
        height: 66px;
        margin-top: 10px auto 20px auto;
        font-size: 18px;
        text-align: center;
    }
    .sec4__text {
        display: none;
    }
    .sec4-container h3 {
        margin-top: 0px;
        font-size: 24px;
    }
    .works {
        margin: 18px auto 0 auto;
        width: 50%;
        flex-wrap: wrap;
        position: relative;
        grid-gap:15px;
        
    }
    .works__block{
        height: auto;
    }
    .works__img{
        width: 166px;
        height: 166px;
    }
    .works__block>.works__title{
        margin-top: 9px;
        width: 168px;
        height: 44px;
        margin-bottom: 9px;
    }
    .works__block>.works__title:first-child{
        margin-bottom: 0px;
    }
    .works::before{
        top: 161px;
        left: 79%;
        rotate: 85deg;
    }
    .works::after{
        top: 409px;
        left: 79%;
        rotate: 85deg;
    }
    .works__block:nth-of-type(2){
        display: none;
    }
    .works__block:nth-of-type(4){
        display: none;
    }
    .sec4__inner>button {
        margin: 31px auto 0 auto;
    }
    .sec4__inner>button>span {
        margin-left: 4px;
    }
    .sec5 {
        height: 580px;
        background: url(assets/images/leav_foto_320.png);
        background-position: right 516px;
        background-repeat: no-repeat;
    }
    .sec5__inner {
        padding-top: 29px;
    }
    .sec5-container h3{
        font-size: 24px;
    }
    .info {
        margin-left: 6px;
    }
    .sec5__blocks{
        margin: 15px auto 0 auto;
        width: 90%;
        display: block;
    }
    .sec5__block{
        width: 90%;
        height: 109px;
        margin-bottom: 15px;
    }
    .sec5__block:nth-of-type(4){
        display: none;
    }
    .sec5__block__inner{
        margin-left: 10px;
    }
    .sec5__text{
        height: 38px;
        overflow: hidden;
    }
    .scroll{
        display: none;
    }
    .sec5-container button {
        margin: 19px auto 0 auto;
    }
    .secLast {
        height: 334px;
    }
    
    .logo__bottom {
        left: 39%;
        top: 20px;
        width: 128px;
        height: 23px;
    }
    .logo__bottom__inner {
        border: none;
    }
    .logo__bottom__inner>img{
        width: 15.03px;
        height: 20.98px;
        left: 70.23px;
        top: -3.36px;
    }
    .secLast-container .subtitle {
        display: none;
    }
    .mail{
        display: none;
    }
    .donate {
        left: 24%;
        top: 128px;
    }
    .socials {
        left: 33%;
        top: 72px;
        display: flex;
        grid-gap: 30px;
    }
    .social__text {
        display: none;
    }
    .social__img {
        margin-bottom: 20px;
    }
    .menu__buttom {
        padding-top: 291px;
        margin-left: 27%;
    }
    .menu__buttom>ul {
        grid-gap: 31px;
    }
    .bottom_text {
        top: 213px;
        left: 32%;
    }
    .bottom_text p{
        font-weight: 100;
        font-size: 15px;
        line-height: 120%;
        color: #FFFFFF;
        padding-bottom: 2px;
    }
 }


 @media (max-width: 320px) {
    .container {
        max-width: 320px;
    }

    .header-container{
        height: 34px;

    }
    .logo{
        left: 10.07px;
        top: 3px;
    }
    .logo__inner{
        border: none;
    }
    .designed{
        display: none;
    }

    .menu {
        display: none;
    }
    .burger-lines{
        top: 11px;
        left: 292px;
    }
    .line {
        display: block;
        height: 2px;
        width: 100%;
        margin-bottom: 2.5px;
        background: #FFFFFF;
    }
    .fav-animal {
        background-position: -32px 0;
        background-size: 384px;
        height: 187px;
    }
    .cycle{
        width: 119.09px;
        height: 119.09px;
        left: 163px;
        top: 22px;
    }
    .fav-animal-container>p{
        font-size: 28px;
        left: 181.29px;
        top: 41.04px;
        width: 128.13px;
        height: 102.44px;
    }
    .fav-animal-container>button {
        left: 13.21px;
        top: 207px;
    }
    .secondSection {
        height: 532.08px;
        background: url(assets/images/flower_foto1_320.png);
        background-position: right 38px;
        background-repeat: no-repeat;

    }
    .secondSection__inner {
        margin-top: 104px;
        margin-left: 12px;
    }
    .secondSection__inner__img {
        display: none;
    }
    .secondSection__inner__text{
        width: 300px;
        margin-left: 0;
    }
    .text__works{
        line-height: 137%;
        width: 300px;
        margin-left: -2px;
    }
    .secondSection-container h2{
        margin-left: -2px;
        font-size: 24px;
        margin-bottom: 8px;
    }
    .secondSection-container .subtitle {
        margin-top: 19px;
        margin-left: 0px;
        margin-bottom: 9px;
    }
    .sec3{
        height: 1522px;
        background-size: 138px 72px, 85px 71px;
        background-position-x: -80px, 253px;
        background-position-y: 1450px,1454px;
    }
    .sec3__inner {
        width: 285.24px;
        margin-top: 0px;
        margin-left: 10px;
        grid-gap: 20px 0;
    }
    .card_bottom {
        grid-gap: 21px;
    }
    .sec3__inner::before {
        display: none;
    }
    .sec3__inner::after {
        display: none;
    }
    .card:nth-of-type(4){
        display: none;
    }
    .card:nth-of-type(8){
        display: none;
    }
    .card:nth-of-type(6){
        display: none;
    }
    .card:nth-of-type(7){
        display: none;
    }
    .btn1 {
        margin-left: 12px;
        margin-top: 20px;
    }
    .sec4 {
        padding-top: 0;
        padding-bottom: 0;
    }
    .sec4__inner{
        margin: 0;
        height: 1041px;
        width: 300px;
        margin-left: 10px;
    }
    .sec4__title{
        padding-top: 20px;
        font-size: 24px;
        margin-left: 0px;
    }
    .sec4-container .subtitle {
        width: 297px;
        height: 66px;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 0px;
        font-size: 18px;
        text-align: center;
    }
    .sec4__text {
        display: none;
    }
    .sec4-container h3 {
        margin-top: 0px;
        font-size: 24px;
    }
    .works {
        margin-left: 65px;
        margin-top: 18px;
        width: 168px;
        flex-wrap: wrap;
        position: relative;
        grid-gap:15px;
        
    }
    .works__block{
        height: auto;
    }
    .works__img{
        width: 166px;
        height: 166px;
    }
    .works__block>.works__title{
        margin-top: 9px;
        width: 168px;
        height: 44px;
        margin-bottom: 9px;
    }
    .works__block>.works__title:first-child{
        margin-bottom: 0px;
    }
    .works::before{
        top: 161px;
        left: 133px;
        rotate: 85deg;
    }
    .works::after{
        top: 409px;
        left: 133px;
        rotate: 85deg;
    }
    .works__block:nth-of-type(2){
        display: none;
    }
    .works__block:nth-of-type(4){
        display: none;
    }
    .sec4__inner>button {
        margin-left: 0;
        margin-top: 31px;
    }
    .sec4__inner>button>span {
        margin-left: 4px;
    }

    

    .sec5 {
        height: 580px;
        background: url(assets/images/leav_foto_320.png);
        background-position: right 516px;
        background-repeat: no-repeat;
    }
    .sec5__inner {
        padding-top: 29px;
    }
    .sec5-container h3{
        font-size: 24px;
    }
    .info {
        margin-left: 6px;
    }
    .sec5__blocks{
        margin-top: 15px;
        margin-left: 13px;
        width: 299px;
        display: block;
    }
    .sec5__block{
        width: 299px;
        height: 109px;
        margin-bottom: 15px;
    }
    .sec5__block:nth-of-type(4){
        display: none;
    }
    .sec5__block__inner{
        margin-left: 10px;
    }
    .sec5__text{
        height: 38px;
        overflow: hidden;
    }
    .scroll{
        display: none;
    }
    .sec5-container button {
        margin-top: 33px;
        margin-left: 40px;
    }

    .secLast {
        height: 334px;
    }
    
    .logo__bottom {
        left: 96px;
        top: 20px;
        width: 128px;
        height: 23px;
    }
    .logo__bottom__inner {
        border: none;
    }
    .logo__bottom__inner>img{
        width: 15.03px;
        height: 20.98px;
        left: 70.23px;
        top: -3.36px;
    }
    .secLast-container .subtitle {
        display: none;
    }
    .mail{
        display: none;
    }
    .donate {
        left: 9px;
        top: 128px;
    }
    .socials {
        left: 63px;
        top: 72px;
        display: flex;
        grid-gap: 30px;
    }
    .social__text {
        display: none;
    }
    .social__img {
        margin-bottom: 20px;
    }
    .menu__buttom {
        padding-top: 291px;
        margin-left: 6%;
    }
    .menu__buttom>ul {
        grid-gap: 31px;
    }
    .bottom_text {
        top: 213px;
        left: 96px;
    }
    .bottom_text p{
        font-weight: 100;
        font-size: 15px;
        line-height: 120%;
        color: #FFFFFF;
        padding-bottom: 2px;
    }

 }
 @media (min-width: 1601px){
    .fav-animal{
        background-size: cover;
    }
    .sec3 {
    background-position-x: -579px, right;
    }
    .sec5 {
        background-position: 114.5% 645px;
    }

 }